<!-- <p>homepage works!</p> -->
<div class="container">
     <div class="row"  *ngFor="let genre of genreList"> 
          <div class="categoryDivided">
               <h2>{{genre.genre_name}}</h2>
               <!-- <app-genre [genreSelected]=genre.genre_name></app-genre> -->
               <app-newmovies [category]=genre></app-newmovies>
               <!-- <app-pagination [nrOfPages]="numberOfPages" [currentPageNumber]="pageNumberCurent" (evenimentulSchimbarePagina)="changePage($event)"></app-pagination> -->
          </div>
        
          
                
    </div>
</div>


   
   

   
  
  
  