.categoryDivided{
    border: solid 3px rgba(35, 35, 158, 0.61);
    margin: 15px;
    padding: 10px;
    border-radius: 5px;

  
}

h2{
    font-size: 24px;
    font-style: italic;
    color: rgba(14, 14, 158, 0.781);
}