<!-- <p>homepage works!</p> -->
<div class="container">
     <div class="row"  *ngFor="let genre of genreList"> 
          <div class="card" style="width: 18rem;">
               <h3>{{genre.genre_name}}</h3>
               <app-newmovies catego>     </app-newmovies>
               <!-- <app-pagination [nrOfPages]="numberOfPages" [currentPageNumber]="pageNumberCurent" (evenimentulSchimbarePagina)="changePage($event)"></app-pagination> -->
          </div>
        
          
                
    </div>
</div>


   
   

   
  
  
  