<div class="container">
  <div *ngIf="isLoggedIn">
    Secret information
  </div>
  <div class="row">


    <div class="card" style="width: 18rem;">
      <h3>Already have an account?</h3>
      <label for="name">Username</label>
      <input type="text" id="name" name="name" class="form-control" required minlength="4" appForbiddenName="bob"
        [(ngModel)]="user.username" #name="ngModel">


      <label for="password">Your Password</label>
      <input type="password" id="password" name="password" class="form-control" required minlength="8"
        appForbiddenPassword="1234" [(ngModel)]="user.password" #name="ngModel">

      <button mat-raised-button id="submit" color="warn" (click)="login()">Login</button>
      <button (click)="headerExperiments()">Header experiments</button>
    </div>
  </div>
</div>