<br>

<div class="container">
    <div class="row">
      <div class="card" style="width: 18rem;" *ngFor="let actor of allPeopleOnPage">
        <div class="card-body">
          <h2 class="card-title">{{actor.person_name}}</h2>
          <h2 class="card-title">{{actor.person_id}}</h2>
          <!-- <img [src]="actor.photo.content" alt=""> -->
          <!-- <a [routerLink]="['/single-actor', actor.person_id]"><p>More roles from {{actor.person_name}}</p></a> -->
        </div>
        
    </div>
    </div>
  
 <h4>The navigation for the new structure</h4> 
  <app-pagination [nrOfPages]="numberOfPages" [currentPageNumber]="pageNumberCurent" (evenimentulSchimbarePagina)="changePage($event)"></app-pagination>
  <br>
  
  </div> 
