<br>

<div class="container">
    <div class="row">
      <div class="card" style="width: 18rem;" *ngFor="let actor of allPeopleOnPage">
        <div class="card-body">
          <h2 class="card-title">{{actor.person_name | unicodeFriendly}}</h2>
          <img class ="front-image" [src]="actor.photo?.content" alt="">
           <!-- <a [routerLink]="['/single-actor', actor.person_id]"><p>More roles from {{actor.person_name}}</p></a> -->
           <button mat-button color="primary" [routerLink]="['/single-actor', actor.person_id]">More from {{actor.person_name}}</button>
        </div>
        
    </div>
    </div>
  

  <app-pagination [nrOfPages]="numberOfPages" [currentPageNumber]="pageNumberCurent" (evenimentulSchimbarePagina)="changePage($event)"></app-pagination>
  <br>
  
  </div> 
