

<div class="container featured">
    <img src="../../assets/user.png" alt=""><hr>

    <!-- <button (click)="identifyUser()">Identify user</button> -->
    <button (click)="getMoviesOpinions(1)">Show Movies I like:</button>
<!-- <h4>Movies I like: </h4> -->
<div class="row">
    <div class="card" style="width: 18rem;" *ngFor="let movie of likedMovies">
      <div class="card-body">
        <h2 class="card-title">{{movie.title}}</h2> 
        <p class="card-text">{{movie.overview}}</p>
      </div>
      <div class="card-body" *ngIf="movie.homepage">
        <a href="{{movie.homepage}}" class="card-link" target="_blank">Website</a>
      </div>
      <a [routerLink]="['/single-movie', movie.movie_id]"><button mat-button>Read More</button></a>
    </div>
  </div>
<!-- <app-pagination [nrOfPages]="numberOfPages" [currentPageNumber]="pageNumberCurent" (evenimentulSchimbarePagina)="changePage($event)"></app-pagination> -->

<hr>

<button (click)="getMoviesOpinions(2)">Movies I want to see:</button>
<div class="row">
    <div class="card" style="width: 18rem;" *ngFor="let movie of wishlistMovies">
      <div class="card-body">
        <h2 class="card-title">{{movie.title}}</h2>
        <p class="card-text">{{movie.overview}}</p>
      </div>
      <div class="card-body" *ngIf="movie.homepage">
        <a href="{{movie.homepage}}" class="card-link" target="_blank">Website</a>
      </div>
      <a [routerLink]="['/single-movie', movie.movie_id]"><button mat-button>Read More</button></a>
    </div>
  </div>

<hr>

<button (click)="getMoviesOpinions(3)">Movies I hate:</button>
<div class="row">
    <div class="card" style="width: 18rem;" *ngFor="let movie of hatedMovies">
      <div class="card-body">
        <h2 class="card-title">{{movie.title}}</h2>
        <p class="card-text">{{movie.overview}}</p>
      </div>
      <div class="card-body" *ngIf="movie.homepage">
        <a href="{{movie.homepage}}" class="card-link" target="_blank">Website</a>
      </div>
      <a [routerLink]="['/single-movie', movie.movie_id]"><button mat-button>Read More</button></a>
    </div>
  </div>


<hr>
<h4>My favourite actors: </h4>
<button (click)="getArtistOpinions('actor')">Actors I like:</button>
<app-people peopleJob="actor"></app-people>
<!-- <h4>Movies I like: </h4> -->
<!-- <div class="row">
  <div class="card" style="width: 18rem;" *ngFor="let actor of likedActors">
    <div class="card-body">
      <h2 class="card-title">{{actor.person_name}}</h2>
      <img src="../../assets/user.png" alt="">
      <a [routerLink]="['/single-actor', actor.person_id]"><p>More roles from {{actor.person_name}}</p></a>
    </div>
  </div>
</div> -->
<hr>

<h4>My favourite directors: </h4>
<button (click)="getArtistOpinions('director')">Directors I like:</button>
<app-people peopleJob="Director"></app-people>
<!-- <h4>Movies I like: </h4> -->
<!-- <div class="row">
  <div class="card" style="width: 18rem;" *ngFor="let director of likedDirectors">
    <div class="card-body">
      <h2 class="card-title">{{director.person_name}}</h2>
      <img src="../../assets/user.png" alt="">
      <a [routerLink]="['/single-actor', director.person_id]"><p>More roles from {{director.person_name}}</p></a>
    </div>
  </div>
</div> -->

</div>

<h4>All People added with 'All' as parameter</h4>
<app-people peopleJob="all"></app-people>
<h4>Only actors added with 'actor' as parameter</h4>
<app-people peopleJob="actor" [filtered]=true></app-people>
<h4>Only directors added with 'Director' as parameter</h4>
<app-people peopleJob="Director" [filtered]=false></app-people>