<div class="container featured">
<div *ngIf="featuredMovie; else loadingMovie">

    <div id="top-part">
        <img [src]="moviePoster" alt="">
        <h1>{{featuredMovie.title}}</h1>
    </div>
    
    
<div class="carousel-content">
    <div>
             <h3>Upload image to carousel:</h3>
        <input color="primary" name="imageUrl" type="file" accept="image/*" (change)="handleInputChange($event)" />
    </div>

    <button mat-stroked-button color="primary" (click)="saveCarouselImage(featuredMovie.movie_id)" >Save photo to Carousel</button>
        <mat-carousel
            timings="250ms ease-in"
            [autoplay]="true"
            [interval]="5000"
            color="accent"
            maxWidth="500px"
            [proportion]="100"
            [slides]="5"
            [loop]="true"
            [hideArrows]="false"
            [hideIndicators]="false"
            [useKeyboard]="true"
            [useMouseWheel]="false"
            orientation="ltr"
            >
        
            <mat-carousel-slide
                #matCarouselSlide
                *ngFor="let slide of moviePhotos; let i = index"
                [image]="slide.content"
                overlayColor="#00000020"
                [hideOverlay]="false"
            >
            </mat-carousel-slide>
        </mat-carousel>
</div>
    <!-- <div>
        <h2>TEST</h2>
        <img [src]="imagineBase64" alt="">
    </div> -->
    
    <label for="status">What do you think about the movie? </label><br>

    <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        
            <mat-select [ngModel]="opinionSelected" [(value)]="opinionSelected" (ngModelChange)="afterOpinionSelect()">
                <mat-option *ngFor="let opinion of possibleOpinions" [value]="opinion.opinion_id">
                     {{opinion.opinion}}</mat-option>
           </mat-select>
        
    </mat-form-field>
      
    <!-- <select name="status" id="status">
        <option value="" selected disabled hidden>Choose here</option>
        <option *ngFor="let opinion of possibleOpinions" value="opinion.opinion_id">{{opinion.opinion}}</option>

    </select> -->

    <button mat-raised-button color="accent" (click)="saveOpinion(featuredMovie.movie_id)">Submit</button>
    
    <h2>Original title: {{featuredMovie.title}}</h2>
    <span>Realease date: {{featuredMovie.release_date | date: 'yyyy/MM/dd'}}</span> <br><span>  Runtime: {{featuredMovie.runtime}} minutes</span>
    <p>Rating: {{featuredMovie.vote_average}}/10</p>

    <p>Description: {{featuredMovie.overview}}</p>

    <p>{{featuredMovie.vote_count}} user reviews</p>
    <div>Directors:<span *ngFor="let crew_member of movie_crew"> <span *ngIf="crew_member.job == 'Director'">  {{crew_member.person_name}}, </span>
    </span>
</div>
    <!-- <span *ngFor="let crew_member of movie_crew" >
        <p *ngIf="crew_member.job == 'Writer'"> {{crew_member.job}}: {{crew_member.person_name}}</p>
    </span> -->
        
    
    <div>
        Tagline: "{{ featuredMovie.tagline }}"
    </div>

<button mat-stroked-button color="primary" (click)="showCast()" *ngIf="!castShown">Show Cast</button>
<button mat-stroked-button color="primary" *ngIf="castShown" (click)="hideCast()">Hide Cast</button>
    <div class="cast" *ngIf="castShown">
        <ul>
            <li *ngFor="let actor of cast_members"><strong>{{actor.person_name  | unicodeFriendly}}</strong> playing {{ actor.character_name  | unicodeFriendly}} <button mat-button color="primary" [routerLink]="['/single-actor', actor.person_id]">More with this artist</button></li>
        </ul>
    </div>
</div>


<ng-template #loadingMovie>
    <div>
        Loading still...
    </div>
</ng-template>

<div class="poster-upload">


<div>
    <h3>Upload poster here:</h3>
    <input color="primary" name="imageUrl" type="file" accept="image/*" (change)="handleInputChange($event)" />
</div>

<!-- <div>
    <h2>TEST</h2>
    <img [src]="imagineBase64" alt="">
</div> -->

<button mat-stroked-button color="primary" (click)="saveImage(featuredMovie.movie_id)" >Save Poster</button> <!--- Homework 11.01.2022  // list with features to be added   -->
<!-- 
    -- add photo - user restrictions
    -- save photo --||-- -- done
    -- add tables  wishlist/seen/not interested - done
    -- add option to add movie to wishlist/seen/not interested 


---done -->
</div>
</div>