.featured{
    background-color: rgb(255, 255, 255);
    margin:15px auto;
    padding: 25px;
    border-radius: 5PX;
}

button{
    margin: 15px;
}

li{
    list-style-type: none;
}

img{
    width:400px;
    margin: auto;
    display: block;
}

input{
    margin: auto;
}
#top-part{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   }

h1, h3{
    display: block;
    text-align: center;
}
.carousel-content{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* border: 2px solid red; */
    
}

.poster-upload{
    display: block;
    text-align: center;
}