<div class="container featured">
<div *ngIf="featuredMovie; else loadingMovie">
    <img [src]="moviePoster" alt="">
    <h2>{{featuredMovie.title}}</h2>
    <label for="status">Choose an option: </label><br>
    <select name="sytatus" id="status">
        <option value="" selected disabled hidden>Choose here</option>
        <option value="seen">Seen</option>
        <option value="interested">Want to see it</option>
        <option value="uninterested">No, thank you!</option>

    </select>
    <p>Original title: {{featuredMovie.title}}</p>
    <span>Realease date: {{featuredMovie.release_date | date: 'yyyy/MM/dd'}}</span> <span>  Runtime: {{featuredMovie.runtime}} </span>
    <p>Rating: {{featuredMovie.vote_average}}/10</p>

    <p>Description: {{featuredMovie.overview}}</p>

    <p>{{featuredMovie.vote_count}} user reviews</p>
    <div>Directors:<span *ngFor="let crew_member of movie_crew"> <span *ngIf="crew_member.job == 'Director'">  {{crew_member.person_name}}, </span>
    </span>
</div>
    <!-- <span *ngFor="let crew_member of movie_crew" >
        <p *ngIf="crew_member.job == 'Writer'"> {{crew_member.job}}: {{crew_member.person_name}}</p>
    </span> -->
        
    
    <div>
        Tagline: "{{ featuredMovie.tagline }}"
    </div>

<button (click)="showCast()" *ngIf="!castShown">Show Cast</button>
<button *ngIf="castShown" (click)="hideCast()">Hide Cast</button>
    <div class="cast" *ngIf="castShown">
        <ul>
            <li *ngFor="let actor of cast_members">{{actor.person_name}} playing {{ actor.character_name }}</li>
        </ul>
    </div>
</div>


<ng-template #loadingMovie>
    <div>
        Loading still...
    </div>
</ng-template>


<div>
    <h3>Upload imagine</h3>
    <input name="imageUrl" type="file" accept="image/*" (change)="handleInputChange($event)" />
</div>

<div>
    <h2>TEST</h2>
    <img [src]="imagineBase64" alt="">
</div>

<button (click)="saveImage(featuredMovie.movie_id)" >Save Poster</button> <!--- Homework 11.01.2022  // list with features to be added   -->
<!-- 
    -- add photo - user restrictions
    -- save photo --||-- -- done
    -- add tables  wishlist/seen/not interested - done
    -- add option to add movie to wishlist/seen/not interested 


- user login - done
- user favorites --done
- user seen - done
- user wishlist - done
- user favorite actors/directors - done
- saving blob to Database -- done
- 403? Method not Allowed?  ---done -->

</div>