<div class="navbar">
     <img src="../../assets/brand3.png" alt="Logo">


     <ul>
          <li *ngFor="let page of pages"><a mat-stroked-button [routerLink]="page.pagePath">{{page.pageName}}</a></li>

     </ul>

     <mat-form-field appearance="fill">
          <mat-label class="label">Genres</mat-label>
          <mat-select [ngModel]="selected_genre" [(value)]="selected_genre" (ngModelChange)="afterSelect()">
               <mat-option class="option" *ngFor="let genre of genreList" [value]="genre.genre_id">
                    {{genre.genre_name}}</mat-option>
          </mat-select>
     </mat-form-field>


     <!-- <div>
          <select (change)="schimbareTest()" [(ngModel)]="optionItemSelectat">
               <option *ngFor="let op of optionItems" [ngValue]="op">{{op.name}}</option>
          </select>
     </div> -->

     <div>
          <!-- Search should be active only after 3 keys have been pressed -->
          <!-- <select (change)="setCriteriaField()" [(ngModel)]="searchCriteriaFieldSelected">
               <option *ngFor="let criteria of searchCriteriaField" [ngValue]="criteria">{{criteria}}</option>
          </select> -->
          <mat-form-field appearance="fill">
               <mat-label class="label">What are you searching for?</mat-label>
               <mat-select (change)="setCriteriaField()">
                    <mat-option class="option" *ngFor="let criteria of searchCriteriaField" [value]="criteria">
                         {{criteria}}</mat-option>
               </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
               <mat-label>Search here...</mat-label>
               <input (keyup)="changeSearch()" type="text"
                      [placeholder]="'Search ' + searchCriteriaFieldSelected"
                      aria-label="Search"
                      matInput
                      [formControl]="myControl"
                      [matAutocomplete]="auto"
                      [(ngModel)]="searchTitle">
                      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                         <mat-option (click)="clickOption(option)" *ngFor="let option of filteredOptions | async" [value]="option.result">
                                        {{option.result}}
                         </mat-option>
                    </mat-autocomplete>
               </mat-form-field>


          <!-- <input type="text" placeholder="Title search..." [(ngModel)]="searchTitle" (keyup)="changeSearch()"> -->
          <!-- <option *ngFor="let ddoption of filteredOptions | async" [ngValue]="ddoption">{{ddoption.title}}</option> -->
          <!-- <mat-form-field class="example-full-width" appearance="fill">
               <mat-label>Number</mat-label>
               <input type="text"
                      placeholder="Pick one"
                      aria-label="Number"
                      matInput
                      [formControl]="myControl"
                      [matAutocomplete]="auto"
                      [(ngModel)]="searchTitle">
               <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                 <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                   {{option.title}}
                 </mat-option>
               </mat-autocomplete>
             </mat-form-field> -->

          <button mat-button (click)="search()">Search</button>
     </div>

     <ul>
          <!-- <li *ngFor="let button of userRelated"><a mat-stroked-button [routerLink]="button.linkPath">{{button.linkName}}</a></li> -->
          <li *ngIf="someoneLogedIn" (click)="signOut()">Sign Out</li>
          <li *ngIf="!someoneLogedIn" [routerLink]="['/login']">Sign In</li>
          <li *ngIf="!someoneLogedIn" routerLink="/signup">Sign Up</li>
          <li *ngIf="someoneLogedIn" routerLink="/myaccount">My account</li>
     </ul>
     <br>
</div>