<div class="container">


<div class="basic">
    <img [src]="artistPhoto" alt="">
     
     <div>
        <h3>Add photo</h3>
        <button (click)="saveImage(artistInformation.person_id)">Save Poster</button>
     </div>
     
     <div>
        <h3>Save photo</h3>
        <input name="imageUrl" type="file" accept="image/*"(change)="handleInputChange($event)" /> 
        
    </div>

</div>
<h2>He/She played in these movies:</h2>
<div class="list">
    <ul>
        <li *ngFor="let movie of moviesPlayedIn">Played<strong> {{movie.character_name}}</strong> in <i>{{movie.title}}</i> <a [routerLink]="['/single-movie', movie.movie_id]"><button mat-button>Read More</button></a></li>
    </ul>
    <button (click)="addAsLiked('actor')">I like his/hers acting</button>
</div>


<div class="list" *ngIf="numberOfMoviesDirected > 0; else didNotDirect">
    <h2>Also directed these movies:</h2>
    <ul>
        <li *ngFor="let movie of moviesDirected">Directed <strong> {{movie.title}}</strong> released on <i>{{movie.release_date}}</i> <a [routerLink]="['/single-movie', movie.movie_id]"><button mat-button>Read More</button></a></li>
    </ul>
    <button (click)="addAsLiked('director')">I like his/hers directing</button>
</div>

<ng-template #didNotDirect><h4>No Movies directed</h4></ng-template>

</div>